.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
.page-enter, .page-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
body {
  padding: 0;
  margin: 0;
}
a {
  color: #34495e;
  text-decoration: none;
}
a:hover {
  color: #42b883;
  text-decoration: underline;
}
a.nuxt-link-exact-active{
  text-decoration: underline;
}
a.nuxt-link-active{
  text-decoration: underline;
}